<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<header>
			<section>
				<h1>welcome to simple reddit</h1>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/login">login</a></li>
						<li><a href="/register">register</a></li>
						<li><a href="/r/new">create new sub</a></li>
						<% if (userid) { %>
						 <li><a href="/logout">logout (<%= username %>)</a></li>
						<% } else { }%>
					</ul>
				</nav>
			</section>
		</header>
	</body>
</html>
