<%-include("partials/head")%> <% if (msg) { %>
<p><%= msg %></p>
<% } %>
<% if (userid) { %>
<p>currently logged in with user id:<%= userid%></p>
<% } %>

<h1>Welcome to Simple-Reddit</h1>
<form action="/r" method="get">
	<label for="sub">what subreddit do you want to view</label>
	<input id="sub" type="text" name="q" />
	<button>submit</button>
</form>

<%-include("partials/footer")%>
