<%- include("partials/head") %>
<form action="/r/<%= sub %>" method="post">
      <label for="title">title: </label><input type="text" name="title" id="title">
      <label for="content">content: </label><input type="text" name="content" id="content">
      <input type="hidden" name="sub" id="sub" value="<%= sub %>">
      <button>Create new post!</button>
</form>
<%- include("partials/footer") %>