<%- include("partials/head") %> 
<form action="/register" method="post">
            <input type="text" name="username" id="username" placeholder="username">
            <input type="email" name="email" id="email" placeholder="email">
            <input type="email" name="emailverification" id="emailverification" placeholder="verify email">
            <input type="password" name="password" id="password" placeholder="password">
            <input type="password" name="passwordverification" id="passwordverification" placeholder="verify password">
            <button>Register!</button>
</form>
<%- include("partials/footer") %>
